* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.site-header {
    background-color: #f7e1d5;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333; 
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.desktop-nav a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.mobile-menu-icon {
    display: none; 
    cursor: pointer;
}

.mobile-menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    gap: 30px;
    align-items: start;
    min-height: 80vh;
}

.image-box {
    margin-bottom: 30px;
}

.column-left .image-box:first-child {
    width: 70%;        
    margin-left: auto; 
}

.hero-wrapper {
    position: relative; 
    margin-bottom: 30px;
}

.overlay-card {
    padding: 0;
    background-color: transparent;
    border: none;
    
    width: 55%;  
    position: absolute;
    right: -30px; 
    
    top: 50%; 
    transform: translateY(-50%);
    
    z-index: 2; 
}

.overlay-card h2 {
    display: none;
}

.content-text {
    max-width: 100%; 
    margin-top: 50px; 
}

.content-text p {
    margin-bottom: 20px;
    font-style: italic;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #d8f1e0;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}


footer {
    background-color: #c9daf8;
    color: #333;
    text-align: center;
    padding: 40px 20px;
    font-size: 14px;
    margin-top: 50px;
    border-top: 1px solid #333;
}

@media screen and (max-width: 768px) {
    .site-header {
        padding: 15px 20px;
    }

    .desktop-nav {
        display: none; 
    }

    .mobile-menu-icon {
        display: block; 
    }

    .container {
        grid-template-columns: 1fr;
        margin: 20px auto;
    }

    .column-left, .column-right {
        width: 100%;
    }

    /* На мобільному всі картинки однакові */
    .column-left .image-box:first-child {
        width: 100%;
        margin-left: 0;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .hero-image {
        width: 100%;
        order: 1; 
    }

    .overlay-card {
        position: static; 
        transform: none;
        
        
        width: 100%;        
        margin: 30px 0 0 0;  
        
        order: 2; 
    }
    
    .content-text {
        max-width: 100%;
        margin-top: 0;
    }
}
